<div class="responsive-hero-div">
  <img src="app/assets/images/corkboard.jpg" alt="Corkboard" class="responsive-hero-img">

  <div class="overlap-responsive-image">
    <div class="text-center">
      <h1>Dashboard</h1>
      {{$ctrl.currentUser}}
      <h3>{{ $ctrl.currentUser.name }}</h3>
      <p>{{ $ctrl.currentUser.email }}</p>
      <button class="btn btn-primary btn-lg" ng-click='$ctrl.handleSignOutBtnClick()'>Sign out</button>
    </div> <!-- header -->

  </div> <!-- overlap-responsive-image -->
</div> <!-- responsive-hero-div -->
